body {
    background-image: url("water.avif");
    background-size: cover;
    font-family: "Playwrite IN",-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 3px darkblue;
    height: 100vh;
}

div{
    text-align: center;
    
}
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0px 0px 3px darkblue;
}

#increment-btn {
    background: #8FD7C7;
   
}

#save-btn {
    background: #FC92C4;
}

